.ProfilePage
{
    
    
    width: 87vw;
    height: 88vh;
    position: fixed;
    top: 12%;
    left: 13%;
    display: flex;
    flex-direction: row;
    background-color: white;
     padding: 2vh 2vw;
    padding-top: 10vh;
      gap: 0.5vw;
      overflow-y: scroll;
   
}
.ProfilePage::-webkit-scrollbar
{
    display: none;
}


.FirstPart
{
     width: 65%;
}

.SecondPart
{
    width: 35%;
    
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
  
    
}