.AdditionalContainer
{
    display: flex;
    flex-direction: column;
    padding: 3vh 1.5vw;

    gap: 3vh;
    /* align-items: center; */
    width: 26vw;
    height: 40%;
   
    border: 1px solid rgb(223, 222, 222);
    position:fixed;
    padding-bottom: 3vh !important;

}


.AdditionalContainer h5
{
   font-size: 1.4rem;
}

.SubDetails
{
    display: flex;
    flex-direction: column;
    /* align-items: start; */
    padding-left: 1vw;
    gap: 1vh;
}

.p1
{
    color: rgba(126, 124, 124, 0.772);
    font-size: 0.85rem;
    display: flex;
    align-items: center;
    gap: 0.2vw;
}
.p1 img
{
    width: 1rem;
    height: 1rem;
    

}

.p2
{
    font-size: 0.8rem;
    padding-left: 1vw;
}
.p2 a
{
    cursor: pointer;
    color: var(--Main-blue-color);
    font-size: 0.8rem;
}





@media (max-width: 600px) {


     .AdditionalContainer
    {
        position: static;
        width: 90vw;
        justify-content: center;
        padding-left: 10vw;
        border-radius: 1.2rem;
        align-self: center;

    }

    
.SubDetails
{
    padding-left: 3vw;
}
.p1 , .p2
{
    font-size: 1rem;
}



}